.photo {
	border-radius: 50%;
	width: 60px;
}

.align-right{
	text-align: right;
}

.ng-touched.ng-invalid{

	border-color: red;
}

.table tbody>tr>td{
	vertical-align: middle;
}
tr.overdue{
	background: rgba(255, 137, 73, 0.58) !important;
}